/* universal selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body */
body {
  background-color: rgba(230, 230, 230, 0.33);
}
body h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* nav bar */
.custom-border {
  border-bottom: 2px solid black;
}
/* container */
.container h1 {
  width: 60%;
  font-size: 60px;
}

/* container-1 */
.container1 button {
  font-size: 12px;
}

/* footer */
footer {
  width: 100%;
}
footer ul li {
  list-style-type: none;
}
footer ul li :hover {
  text-decoration: underline;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
