/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body h1 {
  font-family: "DM Serif Display", serif;
}

/* Header style */
nav {
  border-bottom: 2px solid rgb(12, 12, 12);
}
header nav ul li:hover {
  text-decoration: underline;
}
header nav .h1:hover {
  text-decoration: underline;
}

/* main style */

/* Container style */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .full-width {
  background-color: #faebd7;
  border-bottom: 2px solid black;
}
.full-width .box1 {
  width: 40%;
}
.full-width .box2 {
  width: 40%;
  height: 100%;
}
.full-width .box2 img {
  height: 100%;
}
.full-width .box1 h1 {
  font-size: 40px;
  font-weight: bolder;
}
.box1 button {
  background-color: #faebd7;
}
.box1 button:hover {
  color: white;
  background-color: black;
}
.box1 .button1 {
  background-color: white;
}

/* container 1 style */
.container1 {
  width: 70%;
}
@media (max-width: 768px) {
  .container1 {
    width: 100%;
  }
}
.container1 h1 {
  font-weight: bold;
  text-align: center;
}
.container1 p {
  margin: 30px auto;
  text-align: center;
  font-size: 20px;
}

/* container 2 style */

.container2 .box {
  display: flex;
  border: 2px solid black;
  height: 100px;
}

.box {
  width: 45%;
}

@media (width<=800px) {
  .box {
    width: 90%;
  }
}
.container2 .box .img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 .box img {
  height: 40%;
}

/* container 3 */
.container3 .box {
  height: 100px;
  display: flex;
  border: 2px solid black;
}
@media (width<=340px) {
  .container2 .box,
  .container3 .box {
    height: fit-content;
  }
}
.container3 .box .img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container3 .box img {
  height: 60%;
}

/* container-4 styling */
.container4 {
  width: 60%;
}
.container4 button:hover {
  background-color: black;
  color: white;
}

/* footer  */
footer {
  width: 100%;
}
footer ul li {
  list-style-type: none;
}
footer ul li :hover {
  text-decoration: underline;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
